.header {
  padding: 15px;
}

.fullWidth {
  width: 100% !important;
}

.reminder-icon {
  vertical-align: bottom;
  margin: 0px 10px;
  color: rgba(33,33,33,0.85);
}

.secondary-content{
  cursor: pointer;
}

.secondary-content:hover{
  color: black;
}
